*{
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-self: center;
  align-items: center;
  font-size: 40px;
  color: azure;
}

.sage {
  align-self: center;
  width: 160px;
}

body {
  background-color: rgb(53, 65, 68);
}

.soulzin {
  width: 360px;
  align-self: center;
}

a {
  text-decoration: none;
  color: azure;
  align-self: center;
  font-size: 30px;
}

main{
  display: flex;
  margin-right: 15px;
  flex-direction: column;
}

fieldset {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 5%;
  margin-left: 18px;
  width: 600px;
  height: 200px;
  border: none;
}

button {
  background-color: rgb(53, 189, 223);
  width: 70px;
  font-size: 18px;
  width: 120px;
  height: 50px;
  margin-left: 40px;
  margin-bottom: 50px;
  border-radius: 25px;
}

.buttons {
  display: flex;
  align-self: center;
  margin-top: 10px;
}

.inputs {
  display: flex;
  margin-top: 36px;
}

input {
    padding: 15px;
    width: 105px;
    text-align: end;
    font-size: 80px;
    background-color: rgb(53, 65, 68);
    border: 2px solid azure;
    color: azure;
    border-radius: 30px;
    
}

p {
  color: azure;
  align-self: center;
  font-size: 80px;
  margin: 0 10px;
}